<h3 class="card-title">Merge Duplicates</h3>
<%= form_tag(merge_campaign_duplicate_path(@campaign.id, @duplicate.id)) do %>
	<div class="row">
		<div class="form-group col-lg">
			<label for="team">Team Members:</label>
			<input type="text" class="form-control" name="team" id="team" placeholder="Team Members" autocomplete="off" value="<%= @duplicate.team %>" />
		</div>
		<div class="form-group col-lg">
			<label for="date">Date:</label>
			<input type="date" class="form-control" name="date" id="date" value="<%= @duplicate.entry2.date %>" autocomplete="off" />
		</div>
	</div>
	<hr />
	<div class="form-group">
		<label for="street">Street:</label>
		<input type="text" class="form-control" name="street" id="street" placeholder="Street" autocomplete="off" value="<%= @duplicate.street %>" />
	</div>
	<div class="row">
		<div class="form-group col">
			<label for="street-number">Street Number:</label>
			<input type="text" class="form-control" name="street_number" id="street-number" placeholder="Street Number" autocomplete="off" value="<%= @duplicate.street_number %>" />
		</div>
		<div class="form-group col">
			<label for="unit">Apartment/Unit:</label>
			<input type="text" class="form-control" name="unit_number" id="unit" placeholder="Apartment/Unit" autocomplete="off" value="<%= @duplicate.unit_number %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="outcome">Outcome:</label>
		<select class="form-control" name="outcome" id="outcome">
			<option value="">Please Select</option>
			<% Entry::OUTCOMES.each do |id, outcome| %>
			<option value="<%= id %>"<%= ' selected="selected"' if @duplicate.outcome == id %>><%= outcome %></option>
			<% end %>
		</select>
	</div>
	<div class="form-group">
		<label for="people">Residents:</label>
		<input type="text" class="form-control" name="people" id="people" placeholder="Names/Ages/Relationships of Residents" autocomplete="off" value="<%= @duplicate.people %>" />
	</div>
	<div class="form-group">
		<label for="contact">Contact Information:</label>
		<input type="text" class="form-control" name="contact" id="contact" placeholder="Phone/Email" autocomplete="off" value="<%= @duplicate.contact %>" />
	</div>
	<div class="form-group row">
		<div class="col col-auto">Age Groups:</div>
		<div class="col">
			<% Entry::AGE_GROUPS.each do |id, group| %>
			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input age-groups" name="age_groups[]" value="<%= id %>" id="age-group-<%= id %>"<%= ' checked="checked"' if @duplicate.age_groups.include?(id) %> />
					<%= group %>
				</label>
			</div>
			<% end %>
		</div>
	</div>
	<div class="form-group">
		Conversation Themes Covered:
		<% Entry::THEMES.each do |id, theme| %>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input themes" name="themes[]" value="<%= id %>" id="theme-<%= id %>"<%= ' checked="checked"' if @duplicate.themes.include?(id) %> />
				<%= theme %>
			</label>
		</div>
		<% end %>
	</div>
	<div class="form-group">
		<label for="notes">Notes:</label>
		<textarea name="notes" id="notes" class="form-control" placeholder="Notes" rows="4"><%= @duplicate.notes %></textarea>
	</div>
	<div class="form-group">
		<button class="btn btn-primary right" type="submit">Merge</button>
	</div>
<% end %>
