<h3 class="card-title"><%= @campaign.name %></h3>
<%= link_to "Export Spreadsheet", export_campaign_path(@campaign.id), target: "_blank", class: "btn btn-primary" %>
<% if @role == "owner" %>
<div class="card-block row">
	<div class="col col-auto"><strong>Users</strong>:</div>
	<div class="col">
		<p class="card-text"><%= @campaign.permissions.map(&:email).join(", ") %></p>
		<%= form_tag(campaign_permissions_path(@campaign.id), class: "form-inline") do %>
			<input type="text" name="email" id="email" placeholder="Email" class="form-control form-control-sm" />
			&nbsp;
			<button type="submit" class="btn btn-primary btn-sm">Add User</button>
		<% end %>
	</div>
</div>
<% end %>
<div class="card-block">
	<strong>Data Entry Form:</strong> <%= link_to campaign_entries_url(@campaign.id), campaign_entries_path(@campaign.id) %>
</div>
<div class="card-block">
	<table class="table" id="entry-links">
		<thead>
			<tr>
				<th>Team</th>
				<th>Outcome</th>
				<th>Address</th>
				<th>People</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<% @entries.each do |entry| %>
			<tr data-href="<%= entry_path(entry.id) %>">
				<td><%= entry.team %></td>
				<td><%= Entry::OUTCOMES[entry.outcome] %></td>
				<td><%= entry.street_number %> <%= entry.street %> <%= '#' + entry.unit_number unless entry.unit_number.blank? %></td>
				<td><%= entry.people %></td>
				<td><%= entry.date %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
