<!DOCTYPE html>
<html>
  <head>
    <title>Outreach</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <% if current_user %>
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <% end %>
      <% if current_user %>
      <a class="navbar-brand" href="/">Outreach</a>
      <% else %>
      <a class="navbar-brand" href="#">Outreach</a>
      <% end %>
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav">
          <% if current_user %>
          <li class="nav-item">
            <%= link_to "Sign Out", signout_path, id: "sign-out", class: "nav-link" %>
          </li>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container" style="margin-top: 1em; margin-bottom: 1em;">
      <div class="card">
        <div class="card-block bg-faded">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
